body {
    font-family: Garamond;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

.chat-box {
    width: 750px;
    margin-top: 50px;
    border-left-width: 0px;
    margin-left: 50px;
    margin-right: 0px;
    border-right-width: 0px;
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
}


h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}
#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 60px;
    height: 45px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 17px;
    display:inline-block;
}

#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.chatcol {
  float: left;
  padding: 10px;
    width: 50%;
  margin-top: 54px;
  padding-left: 55px;
  padding-right: 25px;
}

.userText span {
    font-family: Courier;
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: #ffffff;
    font-family: Courier;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}


#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}

.box {
    border: 2px solid black;
}
