<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
 <head>
    <link rel="stylesheet" type="text/css" href="static\style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>

<body>
<nav class="navbar navbar-light bg-light fixed-top">
  <span class="navbar-brand mb-0 h1">Checkit - <small class="text-muted"> ChatBot</small></span>Hi!  I'm here to Help.Get information and guidance regarding Coronavirus disease (COVID-19) , SARS and many more.
    <span></span>

</nav><div class="box"></div>
<div class="chat-box">
      <div class="cb" style="width: 800px; padding-right: 100px;">
        <div id="chatbox">
          <p class="botText">
            <span>

               <button class="btn btn-dark" style="margin: 2px" disabled>What would you like to know about coronavirus?</button><br>
                <button class="btn btn-dark" style="margin: 2px" disabled>1. PROTECT 👍 Protecting yourself</button><br>
                <button class="btn btn-dark" style="margin: 2px" disabled>2. FAQ❓Your questions answered</button><br>
                <button class="btn btn-dark" style="margin: 2px" disabled>3. MYTHS 📚 Know the facts!</button><br>
                <button class="btn btn-dark" style="margin: 2px" disabled>4. Covid-19 ChatBot ℹ</button><br>
                <button class="btn btn-dark" style="margin: 2px" disabled>5. LANGUAGE 🌐 Change language</button>
            </span>
          </p>
        </div>
        <div id="userInput">
          <input id="textInput" type="text" name="msg" placeholder="Message" />
        </div>
      </div>


    <div class="cb" style="width: 450px;">
        <button class="btn btn-dark" style="margin: 2px" disabled>For More Information</button></br>
        <button class="btn btn-primary" style="margin: 2px" disabled>Twitter Accounts & Hashtags  : </button>
   <a type="button" class="btn btn-outline-primary"  href="https://twitter.com/WHO"  target="_blank"> @World Health Organization (WHO)</a>
   <a type="button" class="btn btn-outline-primary"  href="https://twitter.com/CDC_eHealth"  target="_blank"> @CDC_eHealth</a>

   <a type="button" class="btn btn-outline-primary"  href="https://twitter.com/search?q=%23COVID19ireland&src=typeahead_click"  target="_blank"> #COVID19ireland</a>
   <a type="button" class="btn btn-outline-primary"  href="https://twitter.com/search?q=%23irelandCovid&src=typeahead_click"  target="_blank"> #irelandCovid</a>
   <a type="button" class="btn btn-outline-primary"  href="https://twitter.com/search?q=%23CovidVaccine&src=typeahead_click"  target="_blank"> #CovidVaccine</a>
   <a type="button" class="btn btn-outline-primary"  href="https://twitter.com/search?q=%23covidstrain&src=typeahead_click"  target="_blank"> #covidstrain</a> </br>



        <button class="btn btn-success" style="margin: 2px" disabled>Websites  : </button></br>
   <a type="button" class="btn btn-outline-success"  href="https://www.who.int/health-topics/coronavirus#tab=tab_1"  target="_blank"> WHO about CoronaVirus</a>
   <a type="button" class="btn btn-outline-success"  href="https://www.who.int/health-topics/severe-acute-respiratory-syndrome#tab=tab_1"  target="_blank"> WHO about SARS</a>
    <a type="button" class="btn btn-outline-success"  href="https://covid19.who.int/region/euro/country/ie"  target="_blank">COVID Dashboard</a></br>

        <button class="btn btn-danger" style="margin: 2px" disabled>NEWS Websites  : </button></br>
   <a type="button" class="btn btn-outline-danger"  href="https://www.irishmirror.ie/"  target="_blank">Irish Mirror</a>
   <a type="button" class="btn btn-outline-danger"  href="https://www.irishtimes.com/"  target="_blank">Irish Times</a>
    <a type="button" class="btn btn-outline-danger"  href="https://www.dublinlive.ie/"  target="_blank">Dublin Live</a>



    </div>

	<script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<div class="example2" style="border: 1px solid #dedbdb;\n' +
                '  padding: 10px;\n' +
                '  border-radius: 50px 20px;"><span>' + data + "</span></div>";
            $("#chatbox").append(botHtml);
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
          });
        }
        $("#textInput").keypress(function(e) {
          if (e.which == 13) {
            getBotResponse();
          }
        });
	</script>
    </div>
  </body>
</html>
